<!DOCTYPE HTML PUBLIC '-//W3C//DTD HTML 4.01//EN' 'http://www.w3.org/TR/html4/strict.dtd'>
<html>
    <head>
        <meta HTTP-EQUIV='Content-Type'>
        <style type='text/css'>
            body { font: 9pt/12pt Tahoma }
            a:link { color: red }
            a:visited { color: maroon }
        </style>
    </head>
    <body>
        <table width=500 border=0 cellspacing=10>
            <tr>
                <td>
                    <b th:text="${adminId}">관리자 ID</b>의 비밀번호가 초기화 되었습니다.<br/>
                    아래의 링크에서 비밀번호를 변경해주세요.<br/>
                    >> <a th:href="@{${resetPasswordURL}(token=${token})}">비밀번호 변경 페이지로 이동</a>
                </td>
            </tr>
        </table>
    </body>
</html>